$color-primary: #d3cf08;
$color-primary-dark: #28b485;

$color-white: #fff;

$color-dark: #000;

$color-box: #6fa6af9f;
$color-box-2: #fff;

$color-grey: #777;
$color-grey-light: #f7f7f7;

//grid 

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//card colors

$color-card-1: #11e292;
$color-card-2: #faf5b2;

$color-card-text-1: #85dbc1;
$color-card-text-2: #f0ade7;